body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

.header {
  text-align: center;
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  
}

#column1 {
  width: 50%;
}


#column2 {
  width: 50%;
  text-align: center
}
